@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap');

@import url('https://fonts.googleapis.com/css?family=Baloo&display=swap');

@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

@import url('https://fonts.googleapis.com/css?family=Heebo&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    margin-top: 30px;
    transition: all 0.4s ease 0s;
}

#myTable {
    margin: 0 auto;
    background: #d4dddd;
    border: 2.5px solid #d4dddd;
}

#myTable td {

    width: 90px;
    height: 90px;
    color: black;
    text-align: center;
    font-family: sans-serif;
    font-size: 45px;
    font-weight: 200;
    /*border: 2.5px solid #b7b7b7;*/
}



#refresh_btn {
    width: 150px;
    height: 50px;
    background: #457fb1;
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    border: none;
    border-radius: 2.5px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    font-family: 'Heebo', sans-serif;
}

#refresh_btn:hover {
    cursor: pointer;
    box-shadow: 1px 1px 5px 5px #888888;
    box-shadow: 0px 15px 20px #a4b6c6;
    background: #459cb1;
    transform: translateY(-4px);

}

#refresh_btn h3 {
    color: white;
}

#vicBanner {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    color: green;
    margin-top: 75px;
    font-family: 'Varela Round', sans-serif;
}

.not_clicked {
    /*background: #E4E3C8;*/
    background: white;
    transition: all 0.4s ease 0s;
}

.not_clicked:hover {
    cursor: pointer;
    background: #d8eaed;
}

.user_clicked {
    background-color: #eff2f4;
    transition: all 0.4s ease 0s;
    font-family: 'Baloo', cursive;
}

.computer_clicked {
    background-color: #eff2f4;
    transition: all 0.4s ease 0s;
    font-family: 'Baloo', cursive;
}

.victory_U {
    background-color: #e24f46;
    transition: all 0.4s ease 0s;
}

.victory_C {
    background-color: #628ea8;
    transition: all 0.4s ease 0s;
}

@media screen and (min-width: 770px) {
    #myTable {
        margin: 0 auto;
        background: #d4dddd;
        border: 2.5px solid #d4dddd;
    }

    #myTable td {

        width: 75px;
        height: 75px;
        color: black;
        text-align: center;
        font-family: sans-serif;
        font-size: 34px;
        /*border: 2.5px solid #b7b7b7;*/
    }
}
